{% extends "signage/base.html"%}


{% block content%}

<div class="container">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="{% url 'login_user' %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" name="email">
                          </div>
                          <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                          </div>
                          
                        

                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                  </div>
            </div>
            
        </div>

        <div class="col-2">
            
        </div>
    </div>

</div>



{% endblock %}